<!-- Create your form here -->
<h1>Student Form</h1>
<form method="post" action="/students">
    <label><h4>First name</h4></label>
    <input type="text" name="first_name"><br>
    <label><h4>Last name</h4></label>
    <input type="text" name="last_name"><br>
    <input type="submit" value="Submit Student">
</form>